
html, body {
    max-width: 100%;
    max-height:100% ;
    overflow: hidden;
    position: fixed;
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
#winnerVideo{

    z-index: 10;
    text-align: center;
}

#winnerVideo > iframe {
    display: block;
}

#winnerVideo > button {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bolder;
}

.hidden{
    display: none;
}

.night-filter {
    filter: invert(100%);
}
.bg-img{
    filter: none;
}

.bg-black {
    background: black;
}

.bg-white {
    background: white;
}


#revive{
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
  
}

#reviveMobile{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

  
}
.reviveMobile{
    margin-top: 20vh;
}
.revive{
    position: absolute;
    z-index: 10;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bolder;
}
.videoTxt{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 30px;
}

.vidTxt{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.border{
    border-style: dotted;
}


